@use "reset";

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    padding: 1rem;
    max-width: min(85ch, 100vw - 1rem);
    margin-inline: auto;
    background-color: lightyellow;
}

.container {
    max-width: min(80ch, 100vw - 1rem);
    margin-inline: auto;
}

h5, h6 {
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: lightskyblue;
    
    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 4rem;
        max-width: min(80ch, 100vw - 1rem);
        margin-inline: auto;

    }
    &__button {
        background-color: transparent;

        @media (min-width: 600px) {
            display: none;
        }
    }

    &__collapse {
        @media (max-width: 599px) {
            display: none;
        }
        > ul {
            display: flex;
            gap: 1rem;
            list-style: none;
        }
        &--show {
            display: block;
            width: 100%;
            > ul {
                flex-direction: column;
                padding: 0;
            }
        }
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

main > ul {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;

    @media (max-width: 599px) {
        grid-template-columns: 1fr;
    }

    > li {
        list-style: none;
        border: solid 3px red;
        background-color: lightskyblue;
        border-radius: 14px;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px red;
    background-color: lightgray;
    border-radius: 25px;
}

select, input, textarea {
    min-width: 50%;
}

footer {
    background-color: black;
    color: white;
    padding-bottom: 2rem;
    padding-top: 1rem;

    > * > p > a {
        color: lightblue;
    }
}

.post {
    border: solid 3px red;
    background-color: white;
    border-radius: 25px;
}

.comment {
    border: solid 3px red;
    margin-left: 2rem;
    background-color: white;
    margin-top: 0.5rem;
    border-radius: 25px;
}

.commentForm {
    margin-top: 1.5rem;
}

.error {
    background-color: red;
    border: solid 3px black;
    margin-bottom: 1rem;
}

.logoutButtonNav {
    border: none;

    > button {
        background-color: lightskyblue; 
        color: black; 
        border: none;
        cursor: pointer;
      }
      
    > button:hover {
        background-color: #f44336;
        color: white;
      }
}

.pForm {
    width: fit-content;
    border-radius: 0;
}

.pButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deleteButton {
    margin-top: 0.5rem;
}

.bgImage {
    background-image: url(/images/studentmossor.jpg);
    background-size: cover;
}

.postContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.form-wo-border {
    border: none;
    background-color: transparent;
}

/* Temporary solution to make voting work */
select {
    display: none;
}

.voteBtn {
    background-color: orangered;
    border: 1.5px black solid;
    color: white;
    text-align: center;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin: 2px;
    border-radius: 8px;
}
  
.voteBtn:hover {
    opacity: 1;
}

.changeBtn {
    font-size: 32px;
    background-color: yellow;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 20px;
}