{% extends "layout.njk" %}
{% block content %}

{% if error.err[0] %}
<div class="error">
    <ul>
        <h3>Errors</h3>
        {% for row in error.err %}
        <li>
            {{ row }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form action="/new" method="post">
    <h1>Föreslå låt</h1>
    <label for="author">Loggad in som: {{ user }}</label>
    <label for="content">Infoga länk</label>
    <input type="text" name="content" id="content">
    <button type="submit">Skicka</button>
</form>

{% endblock %}